# Environment variables example
PORT=3000

# CRM Admin Panel
ADMIN_PASSWORD=rafooneh1405

# Zarinpal / Bank Gateway configuration
ZARINPAL_MERCHANT_ID=
PAYMENT_GATEWAY_SANDBOX=true

# GitHub Personal Access Token for git operations
GITHUB_TOKEN=

